<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4mDxqVKNc3zbJgRrI5pJp1Pkwaxa27xs</string>
	<key>GCM_SENDER_ID</key>
	<string>221458070727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.qring</string>
	<key>PROJECT_ID</key>
	<string>qring-6024e</string>
	<key>STORAGE_BUCKET</key>
	<string>qring-6024e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221458070727:ios:3831b6ea77804369a6d2e2</string>
</dict>
</plist>